.div-text{
	text-align: center;
    color: #ffa500b3;
    font-weight: bold;
}
.div-text div{
	padding-top: 5px;
}
ion-list ion-item{
	padding-top: 5px;
	padding-bottom: 5px;
}
ion-icon{
	color: var(--ion-color-primary);
}
